.nav-header{
    padding: 0 15px;
     margin: 0 auto;
    
}
:focus {
    outline: none;
}
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation > .nav-header {
   width: 100%;
   
   
}
.top-navigation > .nav-header > h1 {
 font-size: 30px;
 
 margin-left: 5px;
 letter-spacing: 7px;

}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
   

    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
   display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
/*.contentme {
    /*padding: 0 15px;
     margin: 0 auto;
    min-width: 37.5rem;
     background-color: #E9D6C5;
     margin-top: 100px;

}

.introduction{
    background-color: #E9D6C5;
     height: 30.938rem; 
     width: 100%;

}
 .introduction h2 {
  
    padding-top: 100px;

 background-color: #E9D6C5;

   
}
.introduction h3{
    font-size: 1.5rem;
   /* margin-top: 1.5rem;
    margin:1rem auto;
    max-width: 70%;
}
.introduction h2, .introduction h3{
    color:;
      text-align: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}*/
.introduction {
   max-width: 60%;
    height: 50.938rem;
    overflow: auto;
    text-align: center;
    margin: 0 auto;

}
.introduction h2 {
    padding-top: 10px;
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3{
    font-size: 2.5rem;
    margin-top: 1.5rem;
}
.introduction h2, .introduction h3{
    
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.contentme {
    padding: 0 5px;
     margin: 0 auto;
    
     margin-top: 10px;
     text-align: center;
}

.faq {
    padding: 60px 0;
    margin-top: 20px;
}
.faq .title {
    margin-bottom: 60px;
}
.faq .item {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 3px solid #87b8e2;
}
.faq .item .question {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 15px;
}
.faq .item .question .fa {
    margin-right: 10px;
    color: #3488cf;
}
.faq .item .answer {
    color: #777777;
    font-weight: 300;
}
.faq img {
    width: 100%;
    border: 1px dotted darkslategrey;
}
.social {
   background-color: white;
    overflow: auto;
 margin-top: 5px;
    text-align: center;
  
   /* padding-bottom: 2.375rem;*/
}
.chat{
     padding: 2px 0;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social .icons li {
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
   border-radius: 1.25rem;
    border: 2px solid #ddd;
    padding: 0.625rem 0;
    margin: 1.25rem 5px;
    text-align: center;
    cursor: pointer;
}

.social .github {
    background-image: url('../images/github.png');
    /*color: #55acee;*/
}

.social .linkedin {
    background-image: url('../images/linkdin.jpg');
   
}

